
.main {
  background-color: lightblue;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-items: flex-start;
  min-width: 100vw;
  .hero {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    .text {
      flex-direction: row;
      flex-basis: 30vw;
      align-self: flex-start;
    }
  }
  .portfolio {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .display {
      height: 300px;
      width: 500px;
      background-color: green;
      margin: auto;
      padding: 10px;
      border: 5px solid blue;
      .sub-display {
        background-color: grey;
        background-color: grey;
        height: 95%;
        width: 150px;
      }
    }
    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self:flex-start;
      flex-grow: 1;
      height: 300px;
      width: 300px;
      border: 5px solid blue;
      margin: auto;
      background-color: yellow;
      .sub-box {
        background-color: grey;
        height: 95%;
        width: 100px;
      }
    }
  }
  .about {
    height: 300px;
    width: 100vw;
    background-color: purple;
  }
}
